.company {
  background-image: url("../img/company-triangles.svg");
  background-repeat: no-repeat;
  background-position: center top -29px;

  @media (max-width: $tablet-width) {
    background-image: url("../img/company-triangles-tablet.svg");
    background-position: top 91px left 210px;
  }

  @media (max-width: $mobile-width) {
    background-position: top 650px left -119px;
  }
}
