.development {
  border-top: 1px solid $footer-border;
  letter-spacing: 0.04em;
}

.development ul {
  display: flex;
  flex-wrap: wrap;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-right: 9px;
  padding-left: 3px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-right: 0px;
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    padding-bottom: 26px;
  }
}

.development li {
  @media (max-width: $mobile-width) {
    margin: 0 auto;
    margin-bottom: 21px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 27px;
  }
}

.development li:last-child {
  margin-left: auto;
  margin-right: 0;

  @media (max-width: $mobile-width) {
    margin: 0 auto;
  }
}

.development__item--rights {
  margin-right: 75px;
}

.development__item--company {
  margin-right: 140px;

  @media (max-width: $desktop-width) {
    margin-right: 90px;
  }
}

.development__item--rights, .development__item--company {
  @media (max-width: $tablet-width) {
    display: none;
  }
}
