.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form__submit {
  display: flex;
  align-items: center;
}

input {
  height: 50px;
}

input,
textarea {
  width: 100%;
  background-color: $special-blue;
  border: 0;
  color: $basic-white;
  margin-bottom: 40px;
  padding: 14px 16px;
  border-radius: 0;

  &::placeholder {
    color: $basic-white;
  }
}

textarea {
  min-height: 154px;
  resize: none;
}

[type="tel"],
[type="text"] {
  width: calc(50% - 15px);
}

[type="checkbox"] + label {
  position: relative;
  display: inline-block;
  padding-left: 30px;
  color: $basic-white;
  cursor: pointer;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}

[type="checkbox"] + label::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid $basic-white;
}

[type="checkbox"] + label::after {
  content: "";
  position: absolute;
  top: 9px;
  left: 4px;
  display: none;
  width: 8px;
  height: 5px;
  background: url("../img/tick.svg") center no-repeat transparent;
}

[type="checkbox"]:checked + label::after {
  display: block;
}

.form button {
  min-width: 270px;
  margin-right: 38px;
}
