.info-footer {
  display: flex;
  font-size: 15px;
  text-transform: none;
  justify-content: space-between;
  padding-left: 7px;
  padding-right: 10px;
  margin-bottom: 18px;

  @media (max-width: $tablet-width) {
    flex-wrap: wrap;
    margin-bottom: 35px;
    padding-left: 0;
    padding-right: 0;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
  }
}

.info-footer h2 {
  @media (max-width: $tablet-width) {
    margin-top: 39px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 29px;
    padding-bottom: 29px;
    cursor: pointer;

    &::before,
    &::after {
      content: "";
      position: absolute;
      background-color: $footer-border;
    }

    &::before {
      width: 16px;
      height: 1px;
      top: 36px;
      right: 2px;
    }

    &::after {
      width: 1px;
      height: 16px;
      top: 28px;
      right: 9px;
    }
  }
}

.tab--opened {
  &::after {
    display: none;
  }
}

.no-js .info-footer__button {
  display: none;
}

.no-js .info-footer__list {
  display: block;
}

.accordion {
  @media (max-width: $mobile-width) {
    width: 100%;
    position: relative;
    flex: 1 1 100%;
  }
}

.info-footer__sections {
  @media (max-width: $mobile-width) {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      right: -16px;
      bottom: -1px;
      z-index: 40;
      height: 1px;
      background-color: $footer-border;
    }
  }
}

.info-footer__sections ul {
  column-count: 2;
  column-gap: 77px;

  @media (max-width: $desktop-width) {
    column-gap: 10px;
  }

  @media (max-width: $tablet-width) {
    column-count: 1;
  }
}

.info-footer__list {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.info-footer__list p {
  @media (max-width: $mobile-width) {
    max-width: 198px;
  }
}

.list--opened {
  @media (max-width: $mobile-width) {
    display: block;
  }
}

.button--opened {
  &::after {
    display: none;
  }
}

.info-footer__logo {
  @media (max-width: $tablet-width) {
    margin-top: -3px;
  }

  @media (max-width: $mobile-width) {
    margin-top: 0;
    margin-bottom: 3px;
    margin-right: 15px;
  }
}

.info-footer__contacts {
  @media (max-width: $tablet-width) {
    margin-right: 12px;
  }

  @media (max-width: $mobile-width) {
    margin-right: 0;
  }
}
