.page-header {
  background-color: $goods-background;
  background-image: url('/img/bg@1x.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: $basic-white;
  padding-top: 34px;
  padding-bottom: 293px;

  @media (max-width: $tablet-width) {
    padding-top: 20px;
    padding-bottom: 180px;
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 70px;
    padding-top: 17px;
  }
}

.page-header__info {
  margin-left: 4px;
  position: relative;
  //background-image: url('../img/plate@1x.png');
  //background-repeat: no-repeat;

  &::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
  }

  @media (max-width: $tablet-width) {
    margin-left: 0;
  }
}

.page-header__info h1 {
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 80px;
  line-height: 94px;
  letter-spacing: 0.07em;
  margin: 0;
  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    font-size: 60px;
    line-height: 70px;
    max-width: 470px;
    margin-left: 63px;
    margin-bottom: 28px;
  }

  @media (max-width: $mobile-width) {
    font-size: 40px;
    line-height: 47px;
    margin-top: 230px;
    margin-left: 0;
    margin-bottom: 27px;
  }
}

.page-header__info p {
  font-size: 22px;
  line-height: 34px;
  max-width: 680px;
  margin-left: 98px;
  position: relative;
  margin-bottom: 62px;

  &::before {
    content: '';
    width: 66px;
    height: 2px;
    background-color: $basic-white;
    position: absolute;
    top: 17px;
    left: -94px;
  }

  @media (max-width: $tablet-width) {
    font-size: 18px;
    line-height: 28px;
    max-width: 356px;
    margin-bottom: 73px;
    margin-left: 114px;

    &::before {
      content: '';
      width: 33px;
      left: -48px;
      top: 16px;
    }
  }

  @media (max-width: $mobile-width) {
    margin-left: 50px;
    font-size: 16px;
    line-height: 25px;
    margin-bottom: 41px;
  }
}

.page-header__info a {
  background-color: $basic-blue;
  width: 407px;
  border: none;
  font-size: 16px;
  line-height: 19px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 45px;
  padding-right: 45px;
  margin-left: 98px;

  &:hover {
    background-color: transparent;
    outline: 1px solid $basic-white;
  }

  @media (max-width: $tablet-width) {
    padding-left: 31px;
    padding-right: 31px;
    width: 379px;
    margin-left: 114px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
}

.page-header__button--desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.page-header__button--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
