.social {
  margin-right: 102px;
  padding-top: 15px;

  @media (max-width: $desktop-width) {
    margin-right: 0;
  }

  @media (max-width: $tablet-width) {
    flex: 1 1 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding-top: 18px;
    padding-bottom: 25px;
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 100vw;
      right: -25px;
      bottom: -1px;
      z-index: 40;
      height: 1px;
      background-color: $footer-border;
    }
  }

  @media (max-width: $mobile-width) {
    flex-direction: column;
    gap: 24px;
    margin-left: 0;
    padding-bottom: 44px;
    padding-top: 16px;

    &::before {
      right: -15px;
    }
  }
}

.social ul {
  display: flex;
  gap: 15px;
  margin-bottom: 41px;
  margin-top: 45px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-top: 0;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
  }
}

.social p {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    font-size: 13px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    margin-left: 26px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 0;
    margin-bottom: 9px;
  }
}

.social a {
  display: block;
}
