html {
  box-sizing: border-box;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: $font-primary;
  font-style: normal;
  min-width: 320px;
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.page__body-lock {
  height: 100vh;
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $basic-white;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.title {
  font-size: 36px;
  line-height: 50px;
  font-weight: 400;
  margin-top: 0;
  font-family: $font-secondary;

  @media (max-width: $tablet-width) {
    font-size: 32px;
    line-height: 45px;
  }

  @media (max-width: $mobile-width) {
    font-size: 28px;
    line-height: 39px;
  }
}

.button {
  font-family: $font-secondary;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em;
  color: $basic-white;
  background-color: transparent;
  border: 1px solid $basic-white;
  padding: 14px;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;

  &:hover {
    background-color: $basic-blue;
    border: none;
  }
}

.wrapper {
  max-width: 1460px;
  padding: 0 15px;
  margin: 0 auto;

  @media (max-width: $tablet-width) {
    padding: 0 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 16px;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}
