$basic-white: #ffffff;;
$basic-black: #000000;
$basic-blue: #00B2FF;
$special-blue: #19baff;
$header-description: #788891;
$about-background: #E5E5E5;
$about-text: #666666;
$about-border: #EBEBEB;
$goods-background: #1B2D37;
$footer-title: #203C42;
$footer-background: #FAFAFA;
$footer-border: rgba(#626962, 0.2);

$font-primary: "PT Mono", "Arial", monospace;
$font-secondary: "Roboto Condensed", "Arial", sans-serif;
$font-tertiary: "Roboto", "Arial", sans-serif;

$desktop-width: 1200px;
$tablet-width: 1023px;
$mobile-width: 767px;
